<!-- Set your background image for this header on the line below. -->
<header class="intro-header header2">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1><%= @post.title %></h1>
                    <!-- <h2 class="subheading">Problems look mighty small from 150 miles up</h2> -->
                    <span class="meta">
                    <%= link_to "edit", edit_post_path %> |
                    <%= link_to "delete", post_path(@post), method: :delete, data: {confirm: "Are you sure you want to delete this posts?"} %></span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p><%= @post.body %>
                </p>
                <% if @post.comments.count > 0 %>
                    <hr>
                    <h4>All Comment:</h4>
                    <hr>
                    <%= render @post.comments.order("created_at DESC") %>
                <% end %>

            </div>
        </div>
    </div>
</article>
<div class="lightbg">
    <div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <h2>Leave a Comment:</h2>
            <%= form_for [@post, @post.comments.build] do |f|%>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Name</label>
                        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Comment</label>
                        <%= f.text_area :body, class: "form-control", placeholder: "Comment"%>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <%= f.submit class: "btn btn-default" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    </div>
</div>



